<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ebabu.event365live">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".userinfo.activity.HostContactDetailActivity"></activity>
        <activity android:name=".checkout.FinalPaymentActivity" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme"
            tools:node="replace">
            <!--            <meta-data-->
            <!--                android:name="android.support.PARENT_ACTIVITY"-->
            <!--                android:value="com.ebabu.event365live.homedrawer.activity.MsgActivity" />-->
        </activity>


        <service
            android:name=".service.MyFireBaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".homedrawer.activity.MsgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity android:name=".home.activity.CalenderActivity" />
        <activity android:name=".userinfo.activity.HostProfileActivity" />
        <activity android:name=".homedrawer.activity.FavoritesActivity" />
        <activity
            android:name=".auth.activity.ChangePassActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".oncelaunch.activity.EventListActivity">

        </activity>
        <activity android:name=".userinfo.activity.SeeMoreReviewActivity" />
        <activity android:name=".checkout.CheckoutActivity" />
        <activity android:name=".ticketbuy.SelectTicketActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userinfo.activity.EventDetailsActivity"
            android:hardwareAccelerated="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="365live.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".home.activity.HomeFilterActivity" />
        <activity android:name=".homedrawer.activity.SettingsActivity" />
        <activity
            android:name=".homedrawer.activity.ContactUsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".homedrawer.activity.BookedEventsActivity" />
        <activity android:name=".homedrawer.activity.RSVPTicketActivity" />
        <activity android:name=".homedrawer.activity.NotificationActivity" />
        <activity
            android:name=".homedrawer.activity.SearchHomeActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".userinfo.activity.ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".homedrawer.activity.ChooseRecommendedCatActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".oncelaunch.LandingActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing">

        </activity>
        <activity
            android:name=".auth.activity.OtpVerificationActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".auth.activity.RegisterActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".auth.activity.ResetPassActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".auth.activity.ForgotPassActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".auth.activity.LoginActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".home.activity.HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".auth.activity.SplashScreenActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.applozic.application.key"
            android:value="2aa0a753db741fd73626fa95cb13003f3" />
        <meta-data
            android:name="com.applozic.mobicomkit.notification.smallIcon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="main_folder_name"
            android:value="@string/default_media_location_folder"
            tools:node="replace" />
        <meta-data
            android:name="activity.open.on.notification"
            android:value="com.applozic.mobicomkit.uiwidgets.conversation.activity.ConversationActivity" />
        <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" />

        <receiver
            android:name=".utils.SMSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>